@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f50101;
    padding: 2rem;
}

nav h2 {
    margin: 0;
    font-size: 24px;
    color: #FFF;
}

nav img {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
}
nav a {
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #a00202;
    color: #FFF;
    transition: 0.3s;
    border-radius: 10px;
}


nav .nav-links {
    display: flex;
    gap: 1rem;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 200px; /* Largura do card */
    display: inline-block; /* Exibir cards em linha */
    vertical-align: top; /* Alinhamento vertical */
}

.card img {
    max-width: 100%; /* Imagem responsiva */
    height: auto; /* Altura automática */
    border-radius: 8px;
}

.card button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    cursor: pointer; /* Mão ao passar o mouse */
}

.card button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}
