@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-size: cover;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}

.fundoDark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.logo {
    font-size: 2.3rem;
    color: #FFF;
    user-select: none;
    cursor: pointer;
}

.navegacao a {
    position: relative;
    font-size: 1.1rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegacao a::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -6px;
    left: 0;
    height: 2px;
    background: #f50101;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}

.navegacao a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.container {
    background: transparent;
    border: 2px solid rgba(143, 143, 143, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding: 50px;
}

.container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.2rem;
    color: #FFF;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #f50101;
    color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 15rem;
    display: block;
    margin: auto;
}

form input[type="submit"]:hover {
    background-color: #b30404;
    
}

.container p {
    color: #FFF;
    margin-top: 1.5rem;
}

.container a {
    color: #FFF;
    text-decoration: none;
    
}

.container a:hover{
    color: #f50101;
    transition: .3s;
}
